name = "threat-feed"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
main = ".open-next/worker.js"

[assets]
directory = ".open-next/assets"
binding = "ASSETS"

[[kv_namespaces]]
binding = "THREAT_FEED_KV"
id = "3178d33f01a94dd398711f2a340eabba"
